{% extends "core/base.html" %}
{% block title %}{{title}}{% endblock %}
{% load static %}

{% block content %}
<!-- About Section -->
<section id="about" class="about section">

  <div class="container">

    <div class="row gy-4 gx-5">
      <div class="col-sm-12 col-md-12">

        <h1>Nuestra pasión por el análisis deportivo, llevada al siguiente nivel</h1>
        <p class="mt-3">
          Nuestra aplicación nació en 2017 como un proyecto personal con el objetivo de optimizar el análisis de partidos y 
          ofrecer una ventaja competitiva a los apasionados de las apuestas deportivas. Tras años de desarrollo y pruebas exhaustivas, 
          hemos logrado crear una herramienta precisa y eficiente.
        </p>
          Después de una pausa, estamos emocionados de presentarte la versión web de nuestra aplicación, diseñada para que puedas disfrutar 
          de sus beneficios desde cualquier dispositivo.
        <h2 class="mt-3">¿Cómo funciona?</h2>
        <p>
          Nuestra aplicación utiliza algoritmos avanzados para analizar un gran volumen de datos históricos de partidos, lo que nos permite 
          calcular probabilidades precisas y personalizadas para cada encuentro.
        </p>
        <h2 class="mt-3">¿Por qué elegirnos?</h2>
        <ul>
          <li>
            <p><strong>Precisión: </strong>Nuestros modelos predictivos se basan en datos históricos de todos los partidos jugados en la temporada actual.</p>
          </li>
          <li>
            <p><strong>Facilidad de uso: </strong>Una interfaz intuitiva te permitirá encontrar rápidamente la información que necesitas.</p>
          </li>
          <li>
            <p><strong>Personalización: </strong>Adapta la aplicación a tus necesidades seleccionando las ligas y los equipos que te interesan.</p>
          </li>
          <li>
            <p><strong>Constante evolución: </strong>Valoramos tu opinión. A través de nuestro formulario de feedback, puedes ayudarnos a mejorar la aplicación y adaptarla a tus necesidades.</p>
          </li>
        </ul>
        <p>
          Únete a nuestra comunidad y descubre cómo nuestra aplicación puede ayudarte a tomar agilizar tus analisis y así mejorar en tus tomas de decisiones.
        </p>
      </div>
    </div>

  </div>

</section><!-- /About Section -->

{% endblock  %}