{% extends 'core/base.html' %}
{% block description %}
{{title}} para hoy. Encuentra las mejores predicciones de hoy para apuestas deportivas en futbol con nuestro software de pronosticos de futbol.
{% endblock  %}

{% load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}



<!-- Content Row -->
<div class="row justify-content-center">
    <div class="col-md-9 text-center">
        {% if strategies == False %}

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger mb-4" data-toggle="modal" data-target="#exampleModal">
                Aviso Importante sobre tus estrategias
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Alerta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    <p>No tienes estrategias creadas. Crea una y sácale rendimiento a tu tiempo</p>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-md btn-outline-primary" href="{% url 'strategy-create' %}">Crear estrategia</a>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
                </div>
            </div>

        
        {% endif %}
        
        {% if request.user.is_authenticated and not request.user.profile.is_verified or request.user.profile.is_verified_token_update_email == False %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>¡Verifica tu email!</strong> Hemos enviado un email a <a href="https://mail.google.com/mail">{{request.user.email}}</a> con un enlace para verificar tu cuenta. Si no lo ves, revisa la carpeta de spam.
                En caso de no recibirlo, puedes modificar tu email <a href="{% url 'profile_email' %}">aquí</a>.
            </div>
        {% elif request.user.is_authenticated and request.user.profile.is_trial %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>¡Tu prueba gratuita está activa!</strong> Disfruta de 7 días de acceso gratuito.
                El periodo de prueba finaliza el {{request.user.profile.trial_month}}
            </div>

        {% elif request.user.is_authenticated and request.user.profile.is_subscribed %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>¡Tu suscripción está activa!</strong> Disfruta de todas las funcionalidades de la plataforma. Tu suscripción finaliza el {{request.user.profile.subscription_month}}
            </div>


        {% elif request.user.is_authenticated and not request.user.profile.is_subscribed and request.user.profile.date_subscription%}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>¡Tu suscripción ha finalizado!</strong> Para seguir disfrutando de todas las funcionalidades de la plataforma, <a href="{% url 'checkout-session' %}">renueva tu suscripción</a>.
            </div>

        {% elif request.user.is_authenticated and request.user.profile.is_verified and not request.user.profile.is_trial and not request.user.profile.is_subscribed %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>¡Tu periodo de prueba ha finalizado!</strong> Para disfrutar de todas las funcionalidades de la plataforma, <a href="{% url 'checkout-session' %}">suscríbete</a>.
            </div>
        {% endif %}
            
        {% if not request.user.is_authenticated %}
            <div class="card mb-4 rounded-3 shadow-lg">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Regístrate</h4>
                </div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">Gratis<small class="text-body-secondary fw-light"> / 7 días</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Crea tus propias estrategias (limitado)</li>
                        <li>Aplica tus estrategias a una selección de partidos</li>
                    </ul>
                    
                    <a class="w-100 btn btn-primary" href="{% url 'signup' %}">Disfrutar de la prueba</a>
                    
                </div>
            </div>

        {% elif request.user.is_authenticated and not request.user.profile.is_subscribed and request.user.profile.is_verified %}
        <div class="card mb-4 rounded-3 shadow-lg">
            <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Suscríbete</h4>
        </div>
            <div class="card-body">
                <h4 class="card-title pricing-card-title">10 €<small class="text-body-secondary fw-light">/30 días</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Crea tus propias estrategias</li>
                    <li>Aplica tus estrategias a una selección de partidos</li>
                    <li>Obtén beneficios adicionales</li>
                </ul>
                {% comment %}
                <a class="w-100 btn btn-lg btn-outline-primary" href="{% url 'checkout-session' %}">Suscribirme</a>
                {% endcomment %}
                <a class="w-100 btn btn-lg btn-outline-primary" href="#">Suscribirme</a>
            </div>
        </div>
    
        {% endif %}
    </div>
    
    {% if not request.user.is_staff %}
        <div class="container text-center rounded-3 shadow-lg pt-3 pb-3 mt-3">
            <div class="row justify-content-center">
                <h3>Suscríbete a nuestra newsletter</h3>
                <img class="img-fluid ml-3" src="{% static 'core/img/newsletter.png' %}" width=40px height=40px>
                
                <div class="col-md-9 mt-3">
                    <input type="email" class="form-control" name="email-home" id="email-home" placeholder="email">
                    <br>
                    <span class="mt-2"><input type="checkbox" id="accept-emails-home" value="0" /> Acepto recibir emails <span>
                    <br>
                    <button class="btn btn-secondary mt-3 mb-3" id="btn-enviar-home" title='Suscribirme'>Suscribirme</button>
                    <br>
                    
                    <div id="alert-home">
                        <span class="mt-3 mb-3" id="success-message-home"></span>
                    </div>
                    
                </div>
            </div>
        </div>

        <script>
            var btn_enviar = document.getElementById('btn-enviar-home');
            
            btn_enviar.addEventListener('click', function(){
                var email = document.getElementById('email-home').value;
                var check_accept = document.getElementById('accept-emails-home').checked; 
                if(check_accept==true){
                    if(email != ''){
                        const url = "{% url 'subscriber-create-direct' %}" + "?email="+email;
                    
                        fetch(url).then(response => response.json().then(function(data){
                            if(data.created){
                                document.getElementById('alert-home').className = 'alert alert-success alert-dismissible fade show';
                            }else{

                                document.getElementById('alert-home').className = 'alert alert-danger alert-dismissible fade show';
                            }
                            document.getElementById('success-message-home').textContent = data.message
                            document.getElementById('email-home').value = '';
                            document.getElementById('success-message-home').value = '';
                            document.getElementById('accept-emails-home').checked = false;
                        }))
                    
                    }else{        

                        document.getElementById('alert-home').className = 'alert alert-danger alert-dismissible fade show';
                        document.getElementById('success-message-home').textContent = 'Introduce un email'
                    }

                }else{
                    document.getElementById('alert-home').className = 'alert alert-danger alert-dismissible fade show';
                    document.getElementById('success-message-home').textContent = 'Debes aceptar recibir emails'
                }
                
            })
        </script>
    {% endif %}
        
    
    <div class="col-md-12 mt-4 mb-4">
        <h1 class='mb-3 mt-3'>{{title}}</h1>
        {% if messages %}
            <p class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </p>
        {% endif %}
        

        
        <h2 class='mb-3 mt-3 text-center'>Pronosticos para hoy {{hoy}}</h2>
        {% comment %}
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <span class="page-link">{{hoy}}</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">{{manana}}</a></li>
                
                <li class="page-item">
                    <a class="page-link" href="#">{{pasado}}</a>
                </li>
            </ul>
        </nav>
        {% endcomment %}
        <div class="table-responsive">
            <table class="table mt-3">
                <thead>
                    <tr>
                    <th scope="col">Pais</th>
                    <th scope="col">Liga</th>
                    <th scope="col">Jornada</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Local</th>
                    <th scope="col">Visitante</th>
                    <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for match in match_today %}
                    <tr>
                        <td><img src="{{match.league.contry.image.url}}" class="img-fluid" width=25px height=20px alt=""> </td>
                        <td>{{match.league}}</td>
                        <td>{{match.soccer_day}}</td>
                        <td>{{match.date}}</td>
                        <td><img src="{{match.home_team.image.url}}" class="img-fluid" alt=""> {{match.home_team}}</td>
                        <td><img src="{{match.visit_team.image.url}}" class="img-fluid" alt=""> {{match.visit_team}}</td>
                        <td>
                        {% if first_match %}
                            {% if forloop.first %}
                                {% if request.user.is_authenticated %}                                
                                    {% if profile.is_trial or profile.is_subscribed %}
                                        <a href="{% url 'match-detail' match.id %}" class="btn btn-primary">Pronosticos</a>
                                    {% elif not request.user.profile.is_verified %}
                                        <a href="https://mail.google.com/mail" class="btn btn-primary">Verificar cuenta</a>
                                    {% else %}
                                        <a href="{% url 'checkout-session' %}" class="btn btn-primary">Suscríbete</a>
                                    {% endif %}
                                        
                                {% else %}
                                    <a href="{% url 'signup' %}" class="btn btn-primary">Pronóstico</a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if request.user.is_authenticated %}                                
                                {% if profile.is_trial or profile.is_subscribed %}
                                    <a href="{% url 'match-detail' match.id %}" class="btn btn-primary">Pronosticos</a>
                                {% elif not request.user.profile.is_verified %}
                                    <a href="https://mail.google.com/mail" class="btn btn-primary">Verificar cuenta</a>
                                {% else %}
                                    <a href="{% url 'checkout-session' %}" class="btn btn-primary">Suscríbete</a>
                                {% endif %}
                                    
                            {% else %}
                                <a href="{% url 'signup' %}" class="btn btn-primary">Pronóstico</a>
                            {% endif %}
                                
                            
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Content Row -->
        <div class="row justify-content-center">
            {% include "core/cards_leagues.html" %}
        </div>
        {% comment %}
    
        {% for league_unplayed in next_matches_leagues_list %}
            <h2 class='mb-3 mt-3 text-center'>Próximos partidos de {{league_unplayed.0.league}}</h2>
            <div class="table-responsive">
                <table class="table mt-3">
                    <thead>
                        <tr>
                        <th scope="col">Pais</th>
                        <th scope="col">Liga</th>
                        <th scope="col">Jornada</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Local</th>
                        <th scope="col">Visitante</th>
                        <th scope="col">Acción</th>
                        </tr>
                    </thead> 
                    <tbody>
                        {% for match in league_unplayed %}
                        <tr>
                            <td><img src="{{match.league.contry.image.url}}" class="img-fluid" width=25px height=20px alt=""> </td>
                            <td>{{match.league}}</td>
                            <td>{{match.soccer_day}}</td>
                            <td>{{match.date}}</td>
                            <td><img src="{{match.home_team.image.url}}" class="img-fluid" alt=""> {{match.home_team}}</td>
                            <td><img src="{{match.visit_team.image.url}}" class="img-fluid" alt=""> {{match.visit_team}}</td>
                            <td>
                            {% if first_match %}
                                {% if forloop.first %}
                                    {% if request.user.is_authenticated %}                                
                                        {% if profile.is_trial or profile.is_subscribed %}
                                            <a href="{% url 'match-detail' match.id %}" class="btn btn-primary">Pronosticos</a>
                                        {% elif not request.user.profile.is_verified %}
                                            <a href="https://mail.google.com/mail" class="btn btn-primary">Verificar cuenta</a>
                                        {% else %}
                                            <a href="{% url 'checkout-session' %}" class="btn btn-primary">Suscríbete</a>
                                        {% endif %}
                                            
                                    {% else %}
                                        <a href="{% url 'signup' %}" class="btn btn-primary">Pronóstico</a>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% if request.user.is_authenticated %}                                
                                    {% if profile.is_trial or profile.is_subscribed %}
                                        <a href="{% url 'match-detail' match.id %}" class="btn btn-primary">Pronosticos</a>
                                    {% elif not request.user.profile.is_verified %}
                                        <a href="https://mail.google.com/mail" class="btn btn-primary">Verificar cuenta</a>
                                    {% else %}
                                        <a href="{% url 'checkout-session' %}" class="btn btn-primary">Suscríbete</a>
                                    {% endif %}
                                        
                                {% else %}
                                    <a href="{% url 'signup' %}" class="btn btn-primary">Pronóstico</a>
                                {% endif %}
                                    
                                
                            {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
        {% endcomment %}
    </div>
</div>
{% endblock %}
