{% extends 'core/base.html' %}
{% load static %}
{% block title %}Usuario registrado{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <h3 class="mb-4">Usuario registrado con éxito</h3>
        <p>Para activar el periodo de prueba de 7 días tienes que <a href="https://mail.google.com/mail">verificar tu cuenta de correo electrónico.</a>
            Por favor, mira en tu bandeja de entrada de tu email, accede al correo que te hemos enviado y haz click
            en el enlace proporcionado.</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}